@font-face {
    font-family: norse-bold;
    src: url(./fonts/Norse-Bold.otf);
}

html {
    height: 100vh;
}

body {
    margin: 0;
    display: flex;
}

.upper-text,
legend {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 600;
}

.left-side {
    height: 100vh;
    width: 30vw;
    background-image: url(./images/background.jpg);
    background-color: gray;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-box {
    padding-top: 20vh;
}

.logo-content {
    background-color: rgb(0, 0, 0, .4);
    background-color: semi;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0;
    padding: 0;
    height: 200px;
}

#logo-pic {
    width: 130px;
    height: auto;
}

#logo-text {
    font-size: 30px;
    color: white;
    font-family: norse-bold, sans-serif;
    font-size: 100px;
}

#pic-credits {
    color: white;
    text-align: center;
    font-size: 17px;
}

.content {
    height: 100vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
}

.upper-text {
    padding-top: 20vh;
    background-color: rgb(240, 240, 231);
    padding-bottom: 4vh;
    padding-left: 2vh;
    padding-right: 30vw;
}

.form-box {
    height: 28vh;
    padding-left: 2vh;
    padding-bottom: 3vh;
}

legend {
    padding: 2vh 0;
}
.input-boxes {
    display: flex;
    gap: 3vh;
}

.input-boxes>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3vh;
}

.input {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 15px;
}

input {
    width: 15vw;
    height: 3vh;
    border: 1px solid black;
    border-radius: 5px;
}

input:focus {
    border: 1px solid black;
}

.lower-text {
    flex: 1;
    padding-left: 2vh;
    padding-top: 4vh;
    background-color: rgb(240, 240, 231);
}

button {
    width: 10vw;
    height: 4vh;
    background-color: #596D48;
    border: 1px solid #596D48;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    font-weight: 600;
}